.Layout {


  nav {
 
    background-color: #e40013;
    display: flex;
    align-items: center;

    span {
      a {
        font-size: 1.9rem;
        font-weight: bold;
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
      button {
        color: white;
        background-color: purple;
        margin-right: 10px;

      }
      button:hover{
        color:rgb(255, 255, 255);
        background-color: rgb(148, 28, 28);
      }
    }

  }

  footer {
    padding: 15px;
    background-color: #e40013;
    text-align: center;

    p {
      color: white;
    }
  }
  main {
    max-width: 100%;
    margin: 0 auto;
    padding: 24px;
  }

  article {
    display: inline-flex;
  }
}
