@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.Layout {

.navitem{
  font-size: 1.8rem;
  font-family: 'Bangers';
  color:white;
}
.navitem:hover{
  transform: scale(1.2);
  font-family: 'Bangers';
  color:white;
  background-color: #e40013;
}
  nav {

    background-color: #e40013;
    display: flex;
    align-items: center;

    span {
      a {
        font-size: 1.9rem;
        font-weight: bold;
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        color: white;
        background-color: rgb(152, 77, 250);
        margin-right: 10px;
        width: 100px;
        font-family: 'Bangers';


      }

      button:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(148, 28, 28);
      }
    }

  }

  .logo{

    height:100px;
    width:100px;
    margin-top: 15%;
  }
  footer {
    padding: 15px;
    background-color: #e40013;
    text-align: center;

    p {
      color: white;
    }
  }

  main {
    max-width: 100%;
    margin: 0 auto;
    padding: 24px;
  }

  article {
    display: inline-flex;
  }

  button {
    margin-bottom: 5%;
  }
}



@media screen and (max-width: 600px) {


.nav{
  display: flex;
  flex-wrap: nowrap;

}


}