.CharsPage {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-family: 'Bangers', cursive;

  .title {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: #fff;
    font-size: 5.5rem;
    text-align: center;
    padding-right: 15px;
  }

  .charindex {
    margin-top: 5%;
    color: "white";
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 1);
  }

  h2 {
    font-size: 35px;
    text-align: center;
  }

  .charrow {
    color: #fff;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
  }

  .main-col {
    display: block;
    flex-direction: row;
  }

  h2 {
    margin-top: 0;
    text-transform: uppercase;
    color: white;
  }


  .imglist{
    height:200px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    border-radius: 50%;
    border : 1px solid red;
  }
  .searchbar{
    width:400px;
    border-radius: 25px;
    height:60px;
    text-align: center;
  }
  .searchbarDiv{
    justify-content: center;
    text-align: center;
  }

  .flexDisplay{
    display: flex;
    flex-wrap: none;
    background-color: black;
  }

  .indexChar{
    color: white;
    font-size: 2rem;
    text-transform: lowercase;
    font-family: 'Bangers', cursive;
    display: block;
    text-align: center;
  }




}

@media screen and (max-width: 600px) {
  .CharsPage {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Bangers', cursive;

    .title {
      height: 100px;
    }

    h1.hero {
      font-size: 3rem;
    }

    .charindex {
      font-size: 2rem;
    }

    .logo {
      height: 50%;
      width: 20%;
    }
    .searchbar{
      width:250px;
      border-radius: 25px;
      height:60px;
      text-align: center;
    }
  
  }
  .imglist{
    display: none;
  }
  .flexDisplay{
    display:flex;
    flex-direction: column;
  }

  .indexChar{
    font-size: 1.8rem;
    margin-bottom: 0%;
  }


}