@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
  background-image: url("/paper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.brand:hover {
  background-color: rgb(77, 10, 10);
}

article {
  border: 1px solid black;
  border-radius: 12px;
  padding: 3px;
  overflow: hidden;
  background-color: #ED1D24;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

}

.hdr {
  text-align: center;
}

canvas {
  height: "300px"
}

//index css
.banner {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  color: white;
  font-size: 5.5rem;
  font-family: 'Bangers';
  text-align: center;
  padding-right: 15px;
}

.cardTitle {
  color: white;
  font-size: 1.6rem;
  font-family: 'Bangers';
  text-align: center;

}

.cardImage {
  display: inline;

}




/*Bio Page*/
.marvel-lg {
  height: 100px;
  width: 100px;
}

.bio.card {
  background-color: rgb(226, 235, 175);
}

div.cardheading {
  width: 100%;
  margin: 0px 0px;
  margin-bottom: 5%;
  z-index: 1;
}

div.logodiv {
  text-align: right;
  position: relative;
  display: block;
}

div.logo {
  height: 100%;
}

.idnum {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: black;
  top: 30px;
  right: 40px;
  position: absolute;
}

.nameTitle {
  float: left;
  font-size: 5vw;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: 'Bangers';
  letter-spacing: 5px;
  margin-left: 10%;
}

.featimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 22rem;
  filter: drop-shadow(5px 5px 50px #000000);
}

.bio-div {
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
  width: 90%;
  border-radius: 25px;
  font-family: 'Bangers';
}

.bio-stats {
  float: left;
  margin: 5%;
  font-weight: 100;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  letter-spacing: 1px;

}

.bio-sec {
  float: left;
  font-weight: bold;
}

.bio-p {
  font-size: 26px;
  margin-top: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  font-weight: 100;
  letter-spacing: 1px;

}

.bio-image {
  width: 200px;
  height: 200px;
margin-left: auto;
  border-radius: 50%;
}

.dyn {
  background-color: rgb(226, 235, 175);
  padding: 10px;
  border-width: 2px;
  border-color: black;
  margin: 5% auto 5% auto;
  font-size: 1.5vh;
  font-weight: bold;
}

a {
  padding-right: 20px;
  font-size: 2rem;
}

.link-div {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  display: inline;
  color: white;
  font-family: 'Bangers';
  font-size: 1.5rem;

}

.linksdiv {
  display: flex;
  font-family: 'Bangers';

}

li.links {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  color: white;
}

li.links:hover {
  transform: scale(1.3);

}

.comic-header {
  text-align: center;
  color: white;
  font-family: 'Bangers';
  font-size: 2rem;
}

.comicsdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.comic-title {
  color: white;
  font-family: 'Bangers';
  font-weight: 100;
  font-size: 1rem;
  width: 200px;
  text-align: center;
  margin-bottom: 10%;
}

.comic-image {
  height: 300px;
  padding: 20px;
}

.loading {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 200px;
  font-family: 'Bangers';

}
.more-comics-div{
  text-align: center;
}
.more-comics{
  background-color: #ED1D24;
  width: 200px;
  color:white;
 justify-content: center;
}
/*End Bio Page*/


.flip-card {
  background-color: transparent;
  width: 290px;
  height: 400px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ED1D24;
}

/* Style the back side */
.flip-card-back {
  background-color: #ED1D24;
  transform: rotateY(180deg);

}

.marvellM {
  color: "red"
}

.indexChar {
  color: white;
  font-size: 2rem;
  text-transform: lowercase;
  font-family: 'Bangers', cursive;
  display: block;
  text-align: center;
  margin-bottom: 5%;
}


.featimglist:hover {
  border: 1px solid white;
}

.imageDiv:hover {
  transform: scale(1.3);
}

.imageDiv {
  margin-bottom: 130px;
}


.flexdisplay {
  display: flex;
  flex-wrap: none;
}

/* ----------- iPhone 11----------- */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {

  div.logodiv {
    display: none;
  }

  .indexChar {
    font-size: 1.5rem;
  }
}




/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    display: flex;
    margin: auto;
  }

  .title {
    font-size: 2.5rem;
  }

  .logo {
    width: 30%;
    height: 30%;
  }

  div.logodiv {
    display: none;
  }

  .indexChar {
    font-size: 1.5rem;
  }

  img {
    height: auto;
  }

}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

  div.logodiv {
    display: none;
  }

  .featimglist {
    display: none;

  }

  .indexChar {
    font-size: 1.5rem;
  }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

  div.logodiv {
    display: none;
  }

  a {
    font-size: 25px;
  }

  .chart-div {
    display: none;
  }

  .nameTitle {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 5px;
  }

  .marvel-lg {
    height: 70px;
    width: 90px;
  }

  .bio-p {
    font-size: 4vw;
  }

  .bio-sec {
    font-size: 3.5vw;
  }

  .featimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;

  }

  h1 {
    font-size: 25px;
  }

  .bio-sec {
    display: block;
    word-wrap: break-word;

  }

  .bio-stats {
    margin: 5%;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);

  }

  .bio-image {
    width: 100px;
    height: 100px;
    margin-left: 33%;
    margin-right: 33%;
  }

  .bio-first {
    font-size: 4vw;
    display: inline;

  }

  .indexChar {
    color: white;
    font-size: 1.5rem;
    font-family: 'Bangers', cursive;
    text-align: left;
  }

  .indexChar:hover {
    font-size: 1.7rem;
  }

  .imageDiv {
    margin-bottom: 35px;
    display: inline-flex;
  }

  .flexdisplay {
    display: block;
    flex-wrap: wrap;
  }
}

@media screen and (max-width:600px) {


  .logo {
    width: 120px;
  }

  .title {
    font-size: 3rem;
  }
  .bio-image {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .bio-div{
    padding:0px;
  }
  .bio-stats{
    max-width:350px;
    display: inline-block;
    float: none;
    margin: none;
    white-space: nowrap;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

  }
  .bio-sec{
    color: rgb(255, 255, 255);
    word-wrap: normal;
    font-size: 3vw;

  }

  .bio-p {
    font-size: 4vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

  }
  .bio-aliasas{
    display: flex;
    flex-direction: column;
    font-size: 4vw;

    
  }
  .flexdisplay {
    display:flex;
    flex-direction: column;
  }

  .indexChar {
    color: white;
    font-size: 1.8rem;
    font-family: 'Bangers', cursive;
    display: block;
    text-align: center;
    margin-bottom: 0%;
  }
  .imageDiv{
    margin-bottom: 0%;
  }
  

}